<footer id="footer-libreria" class="fondo-footer container-fluid">
  <div class="wrap1">
      <div id="menu_footer">
        <h5 class="h5-libreria">Menu</h5>
        <ul>
          <li class="text-white">Home</li>
          <li class="text-white">Contact us</li>
          <li class="text-white">More Info</li>
          <li class="text-white">Formation</li>
          <li class="text-white">Pricing</li>
        </ul>
      </div>
      <div id="location">
        <h5>¿Donde estamos ubicados?</h5>
        <iframe width="600" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=Kinal%20Guatemala&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
      <div id="info">
        <h5 class="h5-libreria">Desarrollado con:</h5>
        <p>
          <img src="../../assets/img/desarrollo.png" alt="">
        </p>
        <h5 class="h5-libreria">Optimizado para</h5>
        <p id="browsers">
          <a href="#">
            <img src="../../assets/img/android.png" alt="Android" title="Android">
          </a>
          <a href="#">
            <img src="../../assets/img/ios.png" alt="IOS" title="IOS">
          </a>
          <a href="#">
            <img src="../../assets/img/firefox-icon.png" alt="Firefox" title="Firefox">
          </a>
          <a href="#">
            <img src="../../assets/img/chrome.png" alt="Chrome" title="Chrome">
          </a>
          <a href="#">
            <img src="../../assets/img/Opera.png" alt="Opera" title="Opera">
          </a>
          <a href="#">
            <img src="../../assets/img/safari.png" alt="Safari" title="Safari">
          </a>
        </p>
        <h5>AUTOR</h5>
        <p>&copy; {{autor.nombre + ' ' + autor.apellido}}</p>
      </div>
  </div>
</footer>
