@font-face {
  font-family: "Ubuntu";
  src: url("../../../assets/font/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../../assets/font/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: rgba(229, 233, 242, 100);
}

.info{
  position: relative;
  top: 30%;
  width: 100%;
  height: 100%;
  z-index: 10;
  align-items: center;
  text-align: center;
}

#mensaje-libreria{
  position: relative;
  font-family: "Lato";
  font-size: 48px !important;
  z-index: 10;
}

#idLibreria{
    visibility: hidden;
    display: none;
}

.imgLibreria{
  align-items: center;
  position: relative;
}

.btnDetalle{
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  right: 4%;
}

.card-title{
  text-align: center !important;
}

.boton-catalogo{
  position: relative;
  width: 192.5px;
  height: 50px;
  margin-top: 1%;
  padding-top: 0.6%;
  font-size: 18px;
  font-family: "Lato";
  background-color: rgba(71, 82, 94, 100) !important;
}


.libreria{
    margin-left: 150px;
    margin-right: 150px;
    height: 80%;
    top: 8%;
}

.boton-register{
  position: relative;
  width: 145px;
  height: 45px;
  left: 15%;
  bottom: 105%;
  font-size: 18px;
    background-color: rgba(71, 82, 94, 100) !important;
}

.titulo-encabezado{
  text-align: center;
  font-family: "Ubuntu";
  font-size: 40px;
}

.bloqueInfo{
    display: inline-block;
    margin: 30px !important;
    width: 550px;
    height: 260px;
}

.contenedor-libreria{
  margin-right: 1% !important;
}

.encabezado{
  text-align: center;
  font-family: "Ubuntu";
  font-size: 40px;
  height: 8%;
}
