<body>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/img/libreria1.jpg" class="card-img-top" height="275px" alt="...">
        <div class="card-body">
          <h5 class="titulo-home">Librerias Cercanas</h5>
          <p class="card-text">Encuentra las librerias más cercanas de la zona en la que vives.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/img/libreria2.jpg" class="card-img-top" width="600px" height="275px" alt="...">
        <div class="card-body">
          <h5 class="titulo-home">Más seguridad</h5>
          <p class="card-text">Con esta aplicacion tienes más seguridad ya que no tienes que estar mucho fuera de tu casa.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/img/libreria3.jpg" class="card-img-top" height="275px" alt="...">
        <div class="card-body">
          <h5 class="titulo-home">Encuentra todos los productos que quieras</h5>
          <p class="card-text">Hay una gran variedad de librerias y en estas puedes entrar todos los utiles que desees.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
