<body>
  <div class="card carrito">
    <h5 class="card-header titulo-encabezado">Mi carrito de compras</h5>
    <div class="card-body carrito-container">
      <div class="container">
        <div class="card-body text-center" *ngIf="hidden === true">
          <div class="info">
            <h2 id="mensaje-producto">
              {{message}}
            </h2>
          </div>
        </div>
        <div class="container-carrito" *ngIf="hidden === false">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Precio</th>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Total</th>
                <th scope="col" class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.price}}</td>
                <td class="text-center"><input type="number" value="{{product.cantidad}}" max="{{product.stock}}" class="form-control col-sm-4" (change)="actualizarCantidad(product._id, $event)"></td>
                <td class="text-center">{{product.price * product.cantidad}}</td>
                <td class="text-center"><button type="button" class="btn btn-secondary" (click)="eliminarProducto(product._id)">Eliminar</button></td>
              </tr>
            </tbody>
          </table>
          <div class="form-group row">
            <div class="col-sm-6">
              <h5 class="float-left">Gran total : <span>{{calcularGranTotal()}}</span></h5>
            </div>
            <div class="col-sm-6">
              <input type="submit" class="btn btn-secondary boton-enviar" (click)="enviarFactura()" value="Finalizar compra">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
