<body [@fadeIn]>
  <div class="register-producto">
    <form class="form-signin" #create="ngForm" (ngSubmit)="onSubmit(create)">
      <h1 class="h3 mb-3 titulo-producto">
        Registrar Producto
      </h1>
      <p id="texto-producto">Registra los productos para tu libreria</p>
      <input type="text" placeholder="Nombre del producto" class="form-control mt-3 mb-3 input-producto" [(ngModel)]="product.name" #name="ngModel" name="name" required>
      <div class="input-group input-producto textArea-producto">
        <span class="input-group-text" id="texto-producto">Descripcion</span>
        <textarea class="form-control" aria-label="With textarea" required [(ngModel)]="product.description" #description="ngModel" name="description" required></textarea>
      </div>
      <input type="number" placeholder="precio del producto" class="form-control mt-3 mb-3 input-producto" [(ngModel)]="product.price" #price="ngModel" name="price" required>
      <input type="number" placeholder="cantidad en existencia del producto" class="form-control mt-3 mb-3 input-producto" [(ngModel)]="product.stock" #stock="ngModel" name="stock" required>
      <div class="boton-registrar">
        <button type="submit" class="input-register btn boton-registrar" id="button" [disabled]="!create.form.valid">Registrar</button>
      </div>
    </form>
  </div>
</body>
